:root{
    --section-border:3px solid rgb(238, 162, 162);
    --nav-background:#2b2b2b;
    --about-background:#86868b;
    --work-background:#131313;
    --project-background:#313131;
    --contact-background:#2b2b2b;
    --shadow:#000000;
}

/* 
blue

--section-border:1px solid white;
    --nav-background:#4d6d9a;
    --about-background:#86b3d1;
    --work-background:#5f6366;
    --project-background:#7a7f83;
    --contact-background:#99ced3;
    --shadow:#000000;
*/

/* 
beach

--section-border:1px solid white;
    --nav-background:#012c59;
    --about-background:linear-gradient(#bbd1e6,#8cb1d3);
    --work-background:linear-gradient(to top,#3f48c2,#191f5c);
    --project-background:linear-gradient(#3f48c2,#191f5c);
    --contact-background:#012c59;
    --shadow:#000000;
*/


/* 
space

nav 
    background-color:#14213d;
about
    background-color: #cdbee7;    
work
    background: #3f4275;
contact
    background-color: #e7c4ff;
*/

/* Remove margin and padding for whole page */
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

/* Navigation bar */
header{
    display:flex;
    justify-content: flex-end;
    align-items: center;
    background-color:var(--nav-background);
    padding:20px;
    border-bottom:1px solid rgb(238, 162, 162);
}

nav{
    width:40vw;
}

/* Navigation links */
nav ul{
    display:flex;
    justify-content: space-evenly;
    list-style: none;
}

/* Style all links */
a{
    display:inline-block;
    text-decoration: none;
    color:#fff6ff;
    transition: all 0.2s ease-in-out;
}

/* Add glow to links */
nav a:hover,footer a:hover{
    transform:scale(1.1);
    color:white;
    text-shadow: 0px 0px 10px white;
}

/* Cover Image */
figure{
    height:40vh;
    width:100vw;
    background-color: var(--work-background);
    color:white;
    display:flex;
    justify-content: center;
    align-items: center;
    /* background-image: url(../images/background.png);
    background-size: cover; */
    /* background-position: 50% 18%; */
}

/* About me */
#about{
    padding:3rem;
    min-height:300px;
    /* background-image: url(../images/background.png);
    background-size: cover; */
    background-color: #544f57;
    color:rgb(233, 224, 224);
    border-top:1px solid rgb(238, 162, 162);
}

#about span{
    color:white;
}

.about-container{
    width:70vw;
    margin:0 auto;
}

/* Portrait picture */
#portrait{
    width:200px;
    float:left;
}

/* Name */
#name{
    font-size: 3em;
}

/* Work */
#work{
    padding:3rem;
    clear:both;
    display:flex;
    justify-content: space-around;
    align-items: center;
    background: var(--work-background);
    border-top:var(--section-border);
    color:white;
}

.work-title{
    margin: auto 0;
    font-size: 4em;
    align-self: center;
}

/* Container for projects */
.project-container{
    width:80vw;    
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    
}

/* Container for all projects */
.project{
    display:flex;
    justify-content: center;
    align-items: flex-end;
    min-height:300px;
    height:35vh;
    border:1px solid rgb(156, 156, 156);
    border-radius: 0.2rem;
    margin:1rem;
    transition:all 0.3s ease-in-out;
    box-shadow: 0.25rem 0.25rem 0.25rem var(--shadow);
}

/* Screenshot of the projects.  Each will have a different picture once projects are complete */
.one{
    background-image: url('../images/project-placeholder.png');
    background-size: cover;
    background-position: center;
}

.one-small{
    background-image: url('../images/project-placeholder2.png');
    background-size: cover;
    background-position: center;
}

.two{
    background-image: url('../images/project-placeholder2.png');
    background-size: cover;
    background-position: center;
}

.three{
    background-image: url('../images/project-placeholder2.png');
    background-size: cover;
    background-position: center;
}

/* First project */
.large{
    width:70vw;
}

/* Other projects */
.small{
    width:33vw;
}

/* Project card hover effect */
.project:hover{
    transform:scale(1.05);
    box-shadow:1rem 1rem 1rem var(--shadow);
    background-image: none;
    background: var(--project-background);
    border-right: 2px solid var(--shadow);
    border-bottom: 2px solid var(--shadow);
}

/* Project title hidden on hover */
.project>h2{
   margin-bottom:2rem;
}
.project:hover>h2{
    display:none;
}

/* Hidden details */
.detail{
    display:none;    
    flex-wrap: wrap;
    justify-content: space-evenly;
    width:100%;    
    text-align: center;
    padding:0.5rem;
}


.information{
    /* margin:0.5rem auto; */
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-end;
    border-right:1px solid white;
    border-bottom:1px solid white;
    border-radius:0.1rem;
    box-shadow: 0.2rem 0.2rem 0.2rem var(--shadow) inset;
    background-color: var(--work-background);
    color:white;
    padding:1rem;
    height:100%;
    transition: all 0.2s ease-in-out;
}

.information:hover{
    transform:scale(1.05);
    box-shadow: 0 0 1rem pink;
}

.information>section{
    width:100%;
}

.large p{
    font-size: 0.7rem;
}

.small p{
    font-size:0.6rem;
}

/* Display details on hover */
.project:hover .detail{
    display:flex;
    min-height:300px;
    height:90%;
}

.detail>a{
    width:46%;
    height:80%;
    display:none;
}

.project:hover .detail>a{
    display:block;
}


/* 
blue button
rgb(25, 144, 223);
*/

/* Style for project links */

/* .project a{
    background-color: #db3529;
    border-radius: 0.3rem;
    border-top:2px solid #da6b63;
    border-left:2px solid #da6b63;
    border-bottom:2px solid #ad2a21;
    border-right:2px solid #ad2a21;
    width:30%;
    height:100%;
    padding:0.2rem;
    margin-top:0.5rem 0 0.5rem 0;
    transition: all 0.2s ease-in-out;
} */

/* Links grow on hover */

/* .project a:hover{
    transform: scale(1.1);
    box-shadow: 0.1rem 0.1rem 0.1rem #7c1e18;;
    background-color: #f03a2d;
} */

.detail>h2{
    margin: 1rem auto;
    width:100%;
}


/* Contact */
#contact{
    background-color: var(--contact-background);
    border-top:var(--section-border);
}

/* Contact infor layout */
footer ul{
    display:flex;
    justify-content: space-around;
    list-style: none;
    padding:2rem 0 3rem 0;
    color:white;
}

@media screen and (min-width:1475px) {
    .two,.three{
        background-size: cover;
    }
    
}
@media screen and (max-width:950px) {
    #work{
        padding:1.5rem;
    }

    .project-container{
        width:80vw;
    }
    
}
@media screen and (max-width:790px) {
    nav{
        width:50vw;
    }
    figure{
        height:25vh;
    }
    #about img{
        float: none;
    }
    #about{
        text-align: center;
    }
    #work{
        display:block;
        padding: 0;
    }
    #work>section>h2{
        text-align: center;
        margin-top:1rem;
    }
    .project-container{
        width:100vw;
    }
    .project>h2{
        /* display:none; */
    }
    
    .detail{
        /* display:flex; */
        height:300px;
    }
    .detail>a{
        display:block;
    }
    .detail>h2{
        margin-top:1.1rem;
    }
    .project:hover .detail{
        min-height:200px;
    }
    
    .small{
        min-height:210px;
        width:70vw;
    }
    .small-info{
        height:150px;
    }
    
    .small>.detail{
        height:200px;
    }
    .large{
        width:70vw;
    }
    footer ul{
        display:block;
        text-align: center;
    }
    footer h3{
        padding:0 0 1rem 0;
    }
}

@media screen and (max-width:500px) {
    header{
        padding:1rem;
    }
    nav,nav ul{
        width:90vw;
        justify-content: space-between;
    }
    .large,.small{
        width:100vw;
    }
    .project{
        margin:1rem 0;
    }
    .project:hover{
        transform: none;
    }
   
}

@media screen and (max-width:350px) {
    nav ul{
        display:block;
        text-align: end;
    }
}